<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">权限管理</a></li>
        <li class="active">资源管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-body jax-table">
            <div id="toolbar" class="btn-group grid-table-toolbar">
                <shiro:hasPermission name="/upload/upload">
                <button id="btn_add" type="button" class="btn btn-primary gtuploader">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>上传文件
                </button>
                </shiro:hasPermission>
                <shiro:hasPermission name="/upload/delete">
                <button id="btn_delete" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                </button>
                </shiro:hasPermission>
                <shiro:hasPermission name="/upload/detail">
                    <button id="btn_detail" type="button" class="btn btn-info">
                        <span class="fa fa-info" aria-hidden="true"></span>详情
                    </button>
                </shiro:hasPermission>
            </div>
            <table id="fileTable"></table>
        </div>
    </div>
</section>
<div id="fileDetailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">文件信息</h4>
            </div>
            <div class="modal-body">
                <div id="fileOpenWindow">
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript">
    var idStr;
    //初始化上传控件
    $(".gtuploader").upload({
        server : "/upload/upload",
        swf: "/_resources/upload/js/Uploader.swf"
    }, function(url, picker) {
        layer.msg("上传成功！")
        $("#fileTable").bootstrapTable('refresh');
    });

    $(function () {
        $('#fileTable').bootstrapTable({
            url: '[[@{/upload/list}]]', //请求后台的URL（*）
            contentType: "application/x-www-form-urlencoded", //用post请求，这个是必须条件，必须加上，get可以不用，亲测
            dataType: "json",
            method: 'post', //请求方式（*）
            toolbar: '#toolbar',        //工具按钮用哪个容器
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true, //是否显示分页（*）
            sortable: true, //是否启用排序
            sortName: "id",
            sortOrder: "asc", //排序方式
//                search: true,             //是否使用客户端搜索
            queryParams: queryParams,//传递参数（*）
            queryParamsType: "limit",
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1, //初始化加载第一页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            showColumns: true, //是否显示所有的列
            showRefresh: true, //是否显示刷新按钮
            minimumCountColumns: 2, //最少允许的列数
//                singleSelect: false, //点击选中行
            clickToSelect: true, //是否启用点击选中行
            strictSearch: true,
            //height: 460,            //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            showToggle: true, //是否显示详细视图和列表视图的切换按钮
            uniqueId: "id", //每一行的唯一标识，一般为主键列
            cardView: false, //是否显示详细视图
            detailView: false, //是否显示父子表
            showExport: false, //是否显示导出
            exportDataType: "basic", //basic', 'all', 'selected'.
            escape: true,//html转意
            //            align: "center",
            columns: [
                {checkbox: true},
                {
                    field: 'id',
                    title: '文件id',
                    align: "center"
                }, {
                    field: 'name',
                    title: '文件名',
                    align: "center"
                }, {
                    field: 'url',
                    title: '文件地址',
                    align: "center"
                }, {
                    field: 'size',
                    title: '文件大小',
                    align: "center"
                }, {
                    field: 'type',
                    title: '文件类型',
                    align: "center"
                }]
        });

        $("#btn_detail").click(function(){
            var result = Core.selectSingleData("#fileTable");
            if(result != false){
                Core.load("#fileOpenWindow","/upload/detail?opertype=detail&id="+result.id,function () {
                    $("#fileDetailModal").modal("show");
                });
            }
        });

        /*删除*/
        $("#btn_delete").click(function(){
            var checkedRows= Core.selectMutiData("#fileTable");
            if(checkedRows!=false){
                idStr="";
                $.each(checkedRows, function (i, item) {
                    idStr+=(item.id+",");
                })
                idStr=idStr.substring(0,idStr.length-1);
                $.ajax({
                    type: "post",
                    url: "/upload/delete",
                    data:{"idStr": idStr},
                    success: function (data) {
                        if(data.status=="success"){
                            layer.msg("删除成功！");
                            $("#fileTable").bootstrapTable('refresh');
                        }else{
                            layer.msg(data.msg);
                        }
                    },
                    error: function (e) {
                        layer.msg("未知错误！");
                    }
                });
            }
        });
    })

    function queryParams(params) {
        var temp = { //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
            limit : params.limit, //页面大小
            offset : params.offset, //页码
        };
        return temp;
    }

</script>


